*{
	margin: 0 auto;
	padding: 0px;
}
a{
	color: #101010;
}
a:hover,a:visited,a:link{
	text-decoration: none;
	color: #101010;
	cursor: pointer;
}
body{
	/*background-color: #000000;*/
	/*background-image: url(../img/back1.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;*/
}

ul{
	list-style-type: none;
}
/*杞挱*/

.carousel-indicators {
    position: absolute;
    top: 100px;
    left: 100%;
    z-index: 15;
    width: 20%;
    padding-left: 0;
    margin-left: -30%;
    text-align: left;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.6);
}
.carousel-indicators li {
    display: inherit;
    width: 100%;
    height: 38px;
    line-height: 35px;
    margin: 1px;
    text-indent: 0px;
    cursor: pointer;
    color: red;
    border: 0;
    border-radius: none;
    padding:5px 20px;
}
.carousel-indicators li .tit,.carousel-indicators li .txt{
	display: inline;
}
.carousel-indicators .active .tit{
	text-align: left;
	font-size: 20px;
	line-height: 35px;
	display: block;
	color: #FF3823;

}
.carousel-indicators .active .txt{
	text-align: left;
	font-size: 14px;
	display: block;
	line-height: 20px;
}
.carousel-indicators .active {
	display: inline-block;
    width: 100%;
    height: 80px;
    margin: 0;
    border-radius: none;
    background-color: #fff;
}



.main{
	position: relative;
}
.page1{
	padding: 0px;
	margin:20px 7% 20px;
	width: 86%;
}
/*#box1,#box2,#box3,#box4,#box5,#box6{
	background-color: red;
}*/
.p1{
	margin-top: 20px;
	margin-bottom: 15px;
	font-size: 20px;
	font-family: "寰蒋闆呴粦";
	color: gray;
	position: relative;
}
.p1 img{
	width: 55px;
	position: absolute;
	left: 0px;
	top: -13px;
}
#p1-img{
	width: 55px;
	position: absolute;
	left: 0px;
	top: -13px;
}
.p1 font{
	margin-left:25px ;
	padding:4px 15px 4px 30px;
	border: solid 1px gainsboro;
	border-radius: 20px;
}
/*.p2{
	background-color: red;
	margin-top:0px ;
	height:21px;
	line-height: 20px;
}*/

.recommend .row{
	margin: 0px;
	padding: 0px;
}
.recommend,.row1{
	padding: 0px;
	margin: 0px;
}
.picture1{
	height: 240px;
	position: relative;
	overflow: hidden;
	width: auto;
	margin:3px;
}
.picture2{
	margin:3px;
	height: 240px;
	position: relative;
	overflow: hidden;
}
.picture3{
	height: 240px;
	position: relative;
	overflow: hidden;
	margin:3px;
}
.picture4{
	height: 240px;
	position: relative;
	overflow: hidden;
	width: 100%;
	margin:3px;
}


.picture1 img{
	width: 100%;
	transition: all 2s;
}
.picture2 img{
	height: 100%;
	transition: all 2s;
}
.picture3 img{
	height: 100%;
	transition: all 2s;
}
.picture4 img{
	width: 100%;
	transition: all 2s;
}
.mb{
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0px;
				background-color:rgba(0,0,0,0.4);
				text-align: center;
				padding-top: 5%;
				color: white;
				opacity: 0;	
				transition: all 2s;	
				z-index: 2;
				cursor: pointer;
}
.mb-text{
	position: absolute;
	width: 100%;
	height: auto;
	text-align: center;
	top: 40%;
	/*left: 40%;*/
	z-index: 3;
	transition: all 2s;
	cursor: pointer;
	letter-spacing: 0.09em;
}
.mb-text font{
	position: absolute;
	bottom: -145px;
	right: 0px;
	font-size: 16px;
	width: 100%;
	color: white;
	/*background-color: ghostwhite;*/
	
	text-align: right;
	padding: 5px 10px;
}
.mb-text h3{
	font-size: 20px;
	color: #FF3823;
}
.mb-text-detali{
	margin-top: 15px;
	display: none;
	color: white;
	opacity: 0;
	line-height:15px;
	padding: 0px 20px;
}
.picture1:hover .mb{
	opacity:1;
	overflow: hidden;
}
.picture2:hover .mb{
	opacity:1;
	overflow: hidden;
}
.picture3:hover .mb{
	opacity:1;
	overflow: hidden;
}
.picture4:hover .mb{
	opacity:1;
	overflow: hidden;
}
.picture1:hover img{
	transform: scale(1.2,1.2);
	z-index: 1;
}
.picture2:hover img{
	transform: scale(1.2,1.2);
	z-index: 1;
}
.picture3:hover img{
	transform: scale(1.2,1.2);
	z-index: 1;
}
.picture4:hover img{
	transform: scale(1.2,1.2);
	z-index: 1;
}
.picture1:hover .mb-text{
	top: 15%;
}
.picture1:hover .mb-text font{
	display: none;
}
.picture1:hover .mb-text-detali{
	display: block;
	opacity: 1;
}
.picture2:hover .mb-text{
	top: 15%;
}
.picture2:hover .mb-text-detali{
	display: block;
	opacity: 1;
}
.picture3:hover .mb-text{
	top: 15%;
}
.picture3:hover .mb-text-detali{
	display: block;
	opacity: 1;
}
.picture4:hover .mb-text{
	top: 15%;
}
.picture4:hover .mb-text-detali{
	display: block;
	opacity: 1;
}
@media only screen and (max-width: 768px) {
	.picture1 img{
		height: 100%;
		width: auto;
	}
	.picture2 img{
		width: auto;
		height: 100%;
	}
	.picture3 img{
		height: 100%;
		width: auto;
	}
	.picture4 img{
		height: 100%;
		width: auto;
	}
	.box-right img{
		width:100%;
		height: auto;
	}
}
.p-footer{
	text-align:right;
}
.p-footer a{
	color: gray;
}
.p-footer a:hover{
	color: #FF3823;
}
.recommend a{
	font-family: "寰蒋闆呴粦";
	color: gray;
	font-size: 16px;
}
.recommend a:hover{
	color: #FF3823;
}
.box-img{
	position: relative;
	margin-bottom: 0px;
}

.box-img-1{
	position: relative;
	margin-bottom: 0px;
	width: 100%;
	margin: 0 auto;
	
}
.box-img-1 img{
	border:1px;
	border-radius:5px ;
	width: 100%;
	cursor:pointer;
}
.box-img-1 .img-fixed{
	border:1px;
	border-radius:5px ;
	width: 100%;
	height: 100%;
}
.mb1{
	position: absolute;
	top:0;
	left:0;
	bottom:-20%;
	right:0;
	overflow: hidden;
	display:none;
	background-color:white;
	z-index: 1;
	box-shadow: 0px 0px 7px gainsboro;
	transition: all 0.6s;
}
.img-header{
	height: 50%;
	overflow: hidden;
}
.mb1 img{
	width: 100%;
	border-radius:0px ;
}
.mb1 p{
	font-family: "寰蒋闆呴粦";
	font-size: 14px;
	margin-bottom: 0px;
}
.mb1 span{
	color: gray;
	font-size: 10px;
}
.mb1 span i{
	color: #FF3823;
}
.box-img-1:hover .mb1{
	display: block;
}
.mb1:hover{
	transform:scale(1.2);
}
.img-content{
	line-height:normal;
	height: 32%;
	margin: 3px;
	overflow: hidden;
}
.introduct{
	width: 100%;
	height: auto;
	overflow: hidden;
	text-overflow: ellipsis;
/*	white-space: nowrap;*/
}
.img-btn{
	padding: 0px;
	margin: 0px 3px;
}
.btn-danger{
	background-color: #FF3823;
}
/*渚ц竟鏍�*/
.rightNav{
	position: fixed;
	width:7%;
	right: 0px;
	top: 10%;
	background-color: white;
	display: none;
	z-index: 99;
}
.rightNav ul{
	list-style-type: none;
	margin:0px;
}
.rightNav ul li{
	text-align: center;
	border: solid 1px gainsboro;
	padding: 5px;
	
}
.rightNav ul li a{
	font-family: "寰蒋闆呴粦";
	color: #000000;
}
.rightNav ul li:hover{
	background-color:#FF3823 ;
}
.rightNav ul li:hover a{
	color: #FF3823;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	background-color:#FF3823 ;
}
/*渚ц竟鏍忕粨鏉�*/
.caption1{
	text-align: center;
	margin-bottom: 0px;
	padding:2px;
}
.classify{
	position: absolute;
	top:0px;
	right: 0px;
    width: 0;
    height: 0;
    border-width: 25px;
    border-style: solid;
    border-top-right-radius: 3px;
    border-color:sandybrown sandybrown transparent transparent;
}
.classify p{
	width:30px;
	 transform: rotate(45deg);
	 position: absolute;
	 top: -15px;
	 right:-25px;
}

.caption1 p{
	font-family: "寰蒋闆呴粦";
	font-weight: 600;
	font-size: 14px;
	margin-bottom: 0px;
}
.caption1 span{
	color: gray;
	font-size: 10px;
}

.box-img:hover img{
	border: #FF3823;
}
.box-img:hover p{
	color: #FF3823;
}
.fixed{
    position:fixed;
    top:0;
    left:0;
}
.row a{
	font-family: "寰蒋闆呴粦";
	color: gray;
	font-size: 16px;
	margin-right: 15px;
}
.row a:hover{
	color: #FF3823;
}


.box-left{
	border: solid 2px gainsboro;
	margin-right: 4%;
}
.box-left ul li{
	line-height: 30px;
	padding-left: 5%;
}
.box-left ul li span{
	margin-right: 10px;
}
.box-left ul li a{
	color: black;
	font-size: 14px;
}
.box-left ul li a:hover{
	color: #FF3823 ;
}
.list_number{
	background-color: #FF3823;
	padding: 4px 8px;
	color: white;
}
.list_number1{
	background-color: whitesmoke;
	padding: 4px 8px;
}


.box-right{
	border: solid 2px gainsboro;
}
.img1,.img2{
	margin: 15px 0px;
	width: 100%;
	height: 122px;
	overflow: hidden;
	position: relative;
}
.box-right img{
	width: 100%;
}
.box1{
	position: absolute;
	right: 0px;
	bottom: 0px;
	background-color: sandybrown;
	border-top-left-radius: 10px;
	height: 24px;
	width: 70%;
	
	
}
.box1 p{
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.box1 a{
	
	color: #000000;
	margin-right: 0px;
	padding: 2px;
	
}
@media only screen and (max-width: 768px) {
	.rightNav{
		width: 37px;
	}
	
	.main{
		
		padding-top: 60px;
	}
	.carousel-indicators{
		display: none;
	}
}



.pro-box{
	display: none;
}